<h1>Editing series_scenario</h1>

<%= render 'form' %>

<%= link_to 'Show', @series_scenario %> |
<%= link_to 'Back', series_scenarios_path %>
<%= link_to 'Destroy', @series_scenario, :confirm => 'Are you sure?', :method => :delete %>
