<p id="notice"><%= notice %></p>

<p>
  <b>Consensus method:</b>
  <%= @diagnosis_method.consensus_method %>
</p>


<%= link_to 'Edit', edit_diagnosis_method_path(@diagnosis_method) %> |
<%= link_to 'Back', diagnosis_methods_path %>
