<p id="notice"><%= notice %></p>

<p>
  <b>Setname:</b>
  <%= @functional_set.setname %>
</p>


<%= link_to 'Edit', edit_functional_set_path(@functional_set) %> |
<%= link_to 'Back', functional_sets_path %>
