<h2>Diagnosis:</h2>
<ul>
	<li><%= visit_diagnosis.characterization %></li>
	<li><%= visit_diagnosis.diagnosis_date %></li>
	<li><%= visit_diagnosis.diagnoser.initials %></li>
	<li><%= visit_diagnosis.consensus_method %></li>
</ul>
