<h1>Editing functional_scenario</h1>

<%= render 'form' %>

<%= link_to 'Show', @functional_scenario %> |
<%= link_to 'Back', functional_scenarios_path %>
<%= link_to 'Destroy', @functional_scenario, :confirm => 'Are you sure?', :method => :delete %>
